body {
   margin: 0px;
   padding: 0px;
   border: 0px;
}

header {
   
   height: 50px;
   widows: 100%;
   background-color: gray;
   display: flex;
   text-align: center;
   align-items: center;


}

.container1 {
   height: 300px;
   width: 100%;
   background-color: black;
}

.container2 {
   height: 600px;
   width: 100%;
   background-color: whitesmoke;
}

footer {
   height: 100px;
   width: 100%;
   background-color: slateblue;
}


